:root{
     --color1: gray;
     --color2: white;
     --color3: green;
}

body{
     margin: 0;
    
}

header h1, header h3{
     background-color: var(--color1);
     margin: 0;
     padding: 0;
     text-align: center;
}